<div class="container">
	<div class="btn-menu">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</div>
</div>

<%= content_tag "div", class:"menu", data: {menuwidth: "90%", edgeLocation:"0%", openspeed: 600, closespeed: 600 } do %>

<% end %>