<div class="btn-menu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</div>

<<<<<<< HEAD
<div class="menu" style="display: none; ">
=======
<div class="menu">
>>>>>>> Open and close Generic Sidebar
	<ul class="menuItem"></ul>
	<ul class="menuItem"></ul>
	<ul class="menuItem"></ul>
</div>