<div class="container">
	<div class="btn-menu">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</div>
</div>

<%= content_tag "div", class:"menu", data: {menuWidth: "20%", edgeLocation:"0%", openSpeed: 600, closeSpeed: 600 } do %>

<% end %>