<div class="siteContainer">
	<div class="btn-menu">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</div>
</div>

<div class="menu" data-closespeed="600" data-edgelocation="0%" data-menuwidth="20%" data-openspeed="600">

	<div class="row">
		<div class="menuTitle">
			<h2>Sample Application</h2>
		</div>
	</div>

	<div class="row">
		<a href="#"><span></span></a>
		<div class="menuItem">
			<h3><i class="icon-home icon-white"></i> Home</h3>
		</div>
		<div class="menuPointer">
			<h3><i class="icon-chevron-right icon-white"></i></h3>
		</div>
	</div>
	<div class="row">
		<a href="##"><span></span></a>
		<div class="menuItem">
			<h3><i class="icon-inbox icon-white"></i> Contact</h3>
		</div>
		<div class="menuPointer">
			<h3><i class="icon-chevron-right icon-white"></i></h3>
		</div>
	</div>
</div>