<div class="btn-menu">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</div>

<div class="menu">
	<ul class="menuItem"></ul>
	<ul class="menuItem"></ul>
	<ul class="menuItem"></ul>
</div>