<div class="container">
	<div class="btn-menu">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</div>
</div>

<div class="menu" data-closespeed="600" data-edgelocation="0%" data-menuwidth="20%" data-openspeed="600">

</div>